<div class="animate__animated animate__fadeIn animate__faster">
  <h1 class="heading">Summary</h1>
  <div class="flex flex-row flex-wrap">
    <div class="md:col-6 col-12">
      <p-card header="Last added item">
        <div class="grid">
          <div class="md:col-3 col-12">
            <span class="font-semibold mr-2">Name:</span
            ><span class="font-italic">Test item</span>
          </div>
          <div class="md:col-9 col-12">
            <span class="font-semibold mr-2">Description:</span
            ><span class="font-italic text-justify"
              >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              quas ratione dicta cumque porro harum, enim iure, repellendus labore
              minima vero adipisci, asperiores aspernatur deserunt dolor quibusdam
              tempora ipsam quisquam.</span
            >
          </div>
        </div>
      </p-card>
    </div>
    <div class="md:col-6 col-12">
      <p-card header="Average specifications from the last 50 items">
        <div>
          <p-table [value]="product" responsiveLayout="stack">
            <ng-template pTemplate="header">
              <tr>
                <th>Property</th>
                <th>Value</th>
                <th>Unit</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>Weight</td>
                <td>{{ product.weight }}</td>
                <td>Kg</td>
              </tr>
              <tr>
                <td>Height</td>
                <td>{{ product.height }}</td>
                <td>cm</td>
              </tr>
              <tr>
                <td>Width</td>
                <td>{{ product.width }}</td>
                <td>cm</td>
              </tr>
              <tr>
                <td>Length</td>
                <td>{{ product.length }}</td>
                <td>cm</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
    <div class="col-12">
      <p-card header="Property change history">
          <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
      </p-card>
    </div>
    <div class="md:col-6 col-12">
      <p-card header="Relevant item status">
        <div>
          <p-table [value]="lastItems" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,20]" responsiveLayout="stack">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">Item #<p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="desc">Description<p-sortIcon field="desc"></p-sortIcon></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{item.id}}</td>
                <td><span class="pi mr-2" [ngClass]="utilsService.validateStatus(item.status)" ></span>{{item.status}}</td>
                <td>{{item.desc}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
    <div class="md:col-6 col-12">
      <p-card header="Specifications">
        <div>
          <p-table [value]="product" responsiveLayout="stack">
            <ng-template pTemplate="header">
              <tr>
                <th>Property</th>
                <th>Value</th>
                <th>Unit</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>Weight</td>
                <td>{{ product.weight }}</td>
                <td>Kg</td>
              </tr>
              <tr>
                <td>Height</td>
                <td>{{ product.height }}</td>
                <td>cm</td>
              </tr>
              <tr>
                <td>Width</td>
                <td>{{ product.width }}</td>
                <td>cm</td>
              </tr>
              <tr>
                <td>Length</td>
                <td>{{ product.length }}</td>
                <td>cm</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </div>
</div>