<button (click)="gotoHome()" pButton type="button" icon="pi pi-home" iconPos="left" class="p-button p-button-outlined mt-2" pTooltip="Home"></button>
<button (click)="gotoCreate()" pButton type="button" icon="pi pi-pencil" iconPos="left" class="p-button p-button-outlined mt-2" pTooltip="Create data"></button>
<button (click)="gotoQuery()" pButton type="button" icon="pi pi-search" iconPos="left" class="p-button p-button-outlined mt-2" pTooltip="Query data"></button>
<button (click)="gotoAnalyze()" pButton type="button" icon="pi pi-chart-bar" iconPos="left" class="p-button p-button-outlined mt-2" pTooltip="Analyze"></button>
<button (click)="gotoSettings()" pButton type="button" icon="pi pi-cog" iconPos="left" class="p-button p-button-outlined mt-2" pTooltip="Settings"></button>