html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

app-layout {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
}

.gradient {
	background: linear-gradient(45deg, #772d76, #3390a6);
}